.speedDial {
  position: fixed;  
  top: 20%;
  right: 5%;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

@media  screen and (max-width: 676px) {
  
  .speedDial {
    top: 20%;
    right: 40%;
  }

  .speedDialIcon {
    width: 36px;
  }

}
